// Home page styling:

.homepage-header {
  background-image: linear-gradient(
      rgba(11, 1, 1, 0.674),
      rgba(18, 8, 8, 0.236)
    ),
    url(../../assets/header-image.jpg);

  @include headerHeight(80vh);
}

.home-ul,
.contact-ul,
.blog-ul {
  display: flex;
  
  justify-content: flex-end;
  align-items: center;
  font-family: $baseFont;
}

.homepage-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.hamburger {
  background-color: transparent;
  border: none;
  padding-top: 22px;
  color: #fff;
  display: none;
}

.hamburger:hover,
.hamburger:focus {
  outline: none;
  border: none;
}

.contact-ul {
  margin-top: 0;
}

.home-ul li,
.contact-ul li,
.blog-ul li {
  padding: 15px 25px 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.home-ul a:hover,
.home-ul a:focus,
.contact-ul a:hover,
.contact-ul a:focus,
.blog-ul a:hover,
.blog-ul a:focus {
  color: $shadow;
}

h1 {
  @include fontSize(8rem);
  line-height: 75px;
}

.header-content,
.contact-header-flex,
.blog-header-flex {
  display: flex;
  height: 90%;
  flex-direction: column;
}

.banner-text {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blog-banner-text,
.contact-banner-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  padding-right: 40px;
}

// --------------------------------------------

// contact-page-header:

.contact-page-header {
  background-image: url(../../assets/contact-header.jpg);
  @include headerHeight(65vh);
}

.contact-banner-text h1,
.blog-page-header h1 {
  @include fontSize(5.5rem);
}



// --------------------------------

// .blog-page-header:

.blog-page-header {
  background-image: url(../../assets/blog-header.jpg);
  @include headerHeight(65vh);
}