// home page media query:

@media (max-width: 955px) {
  .home-box-image img {
    width: 550px;
  }

  .home-ul li {
    padding: 15px 18px 0;
  }

  .new-addition-img {
    margin-right: 70px;
  }

  .clown-fish-img {
    margin-left: 20px;
  }

  .fish-box-1 img {
    box-shadow: 28px 28px $shadow;
  }

  .fish-box-2 img {
    box-shadow: -28px 28px $shadow;
  }

  .month-profile-flex p {
    padding: 15px 0 18px;
  }

  .month-profile-flex img {
    width: 300px;
    margin-right: 70px;
  }
}

@media (max-width: 882px) {
  .homepage-header {
    height: 70vh;
  }

  h1 {
    font-size: 7rem;
  }

  .home-box-image img {
    width: 520px;
    height: 420px;
  }

  .home-ul li {
    padding: 15px 15px 0;
  }

  .about-details {
    text-align: center;
    padding: 120px 70px 140px;
  }

  .fish-box-1 {
    margin-bottom: 0px;
  }

  .new-addition img {
    height: 250px;
  }

  .new-addition-img {
    margin-right: 70px;
  }

  .fish-details-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-right: 40px;
  }

  .clown-fish-img {
    margin-left: 85px;
  }

  .clown-fish-details {
    padding-top: 40px;
    padding-right: 5px;
    margin-left: 40px;
  }

  .fish-box-2 img {
    bottom: -65px;
  }

  .month-profile-flex {
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    text-align: center;
  }

  .month-profile-flex div:nth-of-type(1) {
    padding-bottom: 70px;
  }

  .month-profile-flex img {
    width: 350px;
    margin-right: 0;
  }
}

@media (max-width: 790px) {
  .homepage-header {
    height: 65vh;
  }

  p {
    padding: 13px 0;
    line-height: 23px;
    color: $fontColor;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 6.3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3,
  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  button {
    padding: 5px 14px;
    letter-spacing: 1px;
    font-size: 1.3rem;
    border: 1px solid #86e0f9;
  }

  .about-details {
    padding: 130px 40px;
  }

  .home-box-image img {
    width: 450px;
    height: 400px;
  }

  .home-ul li {
    padding: 15px 10px 0;
  }

  .new-addition-img {
    margin-right: 30px;
  }

  .fish-details-box {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-right: 10px;
  }

  .clown-fish-img {
    margin-left: 0px;
  }

  .clown-fish-details {
    padding-top: 50px;
    padding-right: 55px;
    margin-left: 10px;
  }

  .fish-box-1 img {
    box-shadow: 10px 15px 30px 1px $shadow;
    top: 0;
  }

  .fish-box-2 img {
    box-shadow: -10px -15px 30px 1px $shadow;
    bottom: -36px;
  }

  .contact-flex {
    padding: 60px 0px;
  }

  .contact-container div:nth-of-type(1) {
    margin-bottom: 30px;
  }

  .location h3::before,
  .community h3::before,
  .blog h3::before,
  .get-in-touch h3::before {
    font-size: 1.7rem;
  }

  .contact p {
    padding-left: 45px;
  }

  .gallery div:nth-of-type(2) {
    margin: 0 20px;
  }
}

@media (max-width: 718px) {
  .fish-box-2 img {
    box-shadow: -10px -15px 30px 1px $shadow;
  }

  .clown-fish-img {
    margin-left: 25px;
  }

  .clown-fish-details {
    padding-top: 50px;
    padding-right: 20px;
    margin-left: 10px;
  }

  .gallery {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .gallery div:nth-of-type(2) {
    margin: 20px 0px;
  }
}

@media (max-width: 676px) {
  .homepage-header {
    height: 55vh;
  }

  .home-ul {
    display: none;
    align-items: flex-end;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .home-ul li {
    padding-top: 0;
    
  }

  .home-ul.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .banner-text {
    height: 100%;
    align-items: flex-start;
    padding-top: 40px;
  }

  h1 {
    font-size: 5rem;
    line-height: 50px;
  }

  .home-box-image img {
    width: 390px;
    height: 280px;
  }

  .home-box-image {
  
  top: 145px;
}

  .home-ul li {
    font-size: 1rem;
  }

  .about-details {
    padding: 90px 30px;
  }

  .fish-box-1,
  .fish-box-2 {
    flex-direction: column;
  }

  .fish-box-1 p {
    text-align: unset;
  }

  .fish-box-2 p {
    text-align: unset;
  }

  .new-addition-calc {
    width: 100%;
  }

  .fish-details-box {
    padding: 60px 60px 30px;
    margin: 0;
    text-align: center;
  }

  .clown-fish-img {
    order: 1;
    padding: 0;
    margin: 0;
  }

  .clown-fish-details {
    order: 2;
    padding: 90px 60px 65px;
    margin: 0;
    text-align: center;
  }

  .fish-box-1 img {
    box-shadow: 0px 10px 25px 1px $shadow;
  }

  .fish-box-2 img {
    box-shadow: 0px 10px 25px 1px $shadow;
    bottom: -36px;
  }
}

@media (max-width: 550px) {
  .home-box-image img {
    width: 330px;
  }

  .contact-container {
    flex-direction: column;
  }

  .location,
  .blog {
    margin-right: 0px;
  }

  .contact p {
    padding-left: 50px;
  }

  .month-profile-flex img {
    width: 100%;
    box-shadow: 5px 10px 5px 1px $shadow;
  }
}

@media (max-width: 466px) {
  .homepage-header {
    height: 50vh;
  }

  .home-box-image img {
    width: 250px;
    height: 250px;
  }

  h1 {
    font-size: 4rem;
  }

  .fish-details-box,
  .clown-fish-details {
    padding-left: 25px;
    padding-right: 25px;
  }

  .about-details  {
    padding-left: 0px;
    padding-right: 0px;
  }



}

@media (max-width: 370px) {
  .homepage-header {
    height: 40vh;
  }

  .home-box-image img {
    width: 210px;
    height: 220px;
  }

  .home-box-image {
    position: absolute;
    top: 100px;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 40px;
  }
}

@media (max-width: 300px) {
  .home-box-image img {
    width: 170px;
    height: 220px;
  }
}

// Home page media query ends here

// -------------------------------

// Contact-page media query:


@media (max-width: 955px) {
  .contact-ul li {
    padding: 15px 18px;
  }

  .contact-banner-text {
    padding-right: 0;
  }

  .contact-page-flex {
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .contact-page-details-box {
    order: 2;
    width: 100%;
    margin-right: 0;
    margin-top: 430px;
  }

   .form-area {
    order: 1;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px;
    padding: 40px 60px;
    height: 500px;
  }

  textarea {
    height: 245px;
  }
}

@media (max-width: 645px) {

  .contact-page-header {
    background-size: cover;
  }


  .name-email {
    flex-direction: column;
  }

  .name,
  .email,
  .message {
    width: 100%;
    margin: 0 0 20px;
  }

  input,
  textarea {
    padding: 10px 15px;
    background-color: $secondary;
    color: $fontColor;
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .contact-page-header {
    @include headerHeight(45vh);
  }

  .contact-banner-text h1 {
    font-size: 4rem;
  }

  .form-area {
    padding: 35px;
  }
}

@media (max-width: 400px) {
  .contact-ul li {
    padding: 15px 12px;
    font-size: 1.1rem;
  }

  .contact-banner-text h1 {
    padding-top: 50px;
    line-height: 55px;
  }
}

// Contact-page media query ends here.

// -------------------------------------

// blog-page media query:

@media (max-width: 1088px) {
  .blog-banner-text {
    padding-right: 0;
  }

  .blog-post-img {
    margin-top: -130px;
  }
}

@media (max-width: 960px) {
  .about-the-sea {
    padding-top: 0px;
  }

  .side-blog-details {
    padding: 40px 60px 40px 450px;
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .side-blog-img img {
    width: 400px;
    height: 270px;
  }

  .side-blog-img {
    top: 35px;
  }

  .blog-post-img {
    margin-top: 40px;
    margin-left: 0;
    padding: 0 50px;
  }

  .blog-ul li {
    padding: 15px 20px 0;
  }

  .blog-main {
    flex-direction: column;
  }

  .blog-post-img img {
    box-shadow: -0px 0px;
  }

  .blog-left-part {
    margin-right: 0px;
  }

  .blog-post-details {
    padding: 50px;
    border-left: none;
    border-bottom: none;
    margin-right: 0px;
  }

  .blog-post-details p {
    padding: 5px 0 10px;
  }

  .comment-box {
    padding: 20px 50px;
    margin-right: 0;
  }

  .comment-box-flex img {
    width: 120px;
  }

  .blog-form-area {
    padding: 50px;
    margin-right: 0px;
    padding-bottom: 60px;
  }

  .blog-form-area textarea {
    height: 300px;
  }
}

@media (max-width: 756px) {
  .side-blog-details {
    padding: 60px 20px 60px 350px;
  }

  .side-blog-img {
    top: 50px;
  }

  .side-blog-img img {
    width: 320px;
  }
}

@media (max-width: 616px) {
  .side-blog-details {
    padding: 60px 20px 60px 300px;
    font-size: 1.1rem;
  }

  .side-blog-img img {
    width: 270px;
  }
}

@media (max-width: 568px) {
  .blog-ul li {
    padding: 15px 12px 0;
  }

  .side-blog-details div:nth-of-type(1) {
    padding-bottom: 270px;
  }

  .side-blog-details {
    padding: 50px 50px;
  }

  .side-blog-img img {
    width: 300px;
    height: 230px;
  }

  .side-blog-img {
    top: 155px;
    left: 50px;
  }
}

@media (max-width: 460px) {

  .blog-page-header {
    background-size: cover;
    height: 50vh;
  }

  .side-blog-details div:nth-of-type(1) {
    padding-bottom: 275px;
  }

  .side-blog-img {
    top: 180px;
  }
}

@media (max-width: 400px) {

  .blog-post-details, 
  .comment-box,
  .blog-form-area {
    padding: 50px 20px;
  }

  .blog-post-img {
    padding: 0 20px;
  }


  .side-blog-img img {
    width: 230px;
  }

  .comment-box-flex img {
    width: 50px;
  }

  textarea {
    height: 200px;
  }
}

@media (max-width: 340px) {
  .side-blog-details h2 {
    font-size: 1.7rem;
  }

  .side-blog-details p {
    font-size: 1.2rem;
  }

  .side-blog-img img {
    width: 200px;
    height: 200px;
  }

  .side-blog-img {
    top: 190px;
  }

  @media (max-width: 296px) {

    .blog-ul li {
      padding: 15px 6px 0;
    }

    .side-blog-img {
      top: 240px;
    }

    .side-blog-img img {
      width: 180px;
    }
  }
}

// blog page media query ends here.
