
$primary: #0c1423;
$secondary: #0f614e;
$shadow: #86e0f9;
$fontColor: #fff;

$baseFont: "Barlow", sans-serif;
$bodyFont: "Lato", sans-serif;

@mixin fontSize($sizeValue) {
  font-size: $sizeValue;
  color: $fontColor;
  font-weight: bold;
  font-family: $baseFont;
  text-transform: uppercase;
}

@mixin headerHeight($sizeValue) {
  height: $sizeValue;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
