@import "setup";
@import "variable";
@import "header";

html {
  font-size: 62.5%;
}

body {
  font-family: $bodyFont;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $fontColor;
  text-transform: uppercase;
}

img {
  display: block;
  width: 100%;
}

p {
  padding: 15px 0;
  text-align: justify;
  line-height: 25px;
  color: $fontColor;
  font-size: 1.5rem;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: $fontColor;
  font-family: $baseFont;
  text-transform: uppercase;
}

// Main

// Section: about

.about {
  background-color: $primary;
}

.home-box-image img {
  width: 650px;
  height: 400px;
}

.home-box-image {
  position: absolute;
  top: 140px;
  right: 0;
}

button {
  padding: 8px 16px;
  border: none;
  background: $shadow;
  font-family: $baseFont;
  letter-spacing: 1px;
  font-size: 1.6rem;
  border: 1px solid #86E0F9;
}

button:hover,
button:focus {
    border: 1px solid $primary;
    cursor: pointer;
}

.about-details {
  text-align: center;
  // margin-top: 25px;
  padding: 120px 100px;
}

.about-details a {
  color: $primary;
  // font-size: 1rem;
}

// .about-details p {
//   padding: 10px 0;
//   text-align: justify;
//   line-height: 14px;
//   color: $fontColor;
// }

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
}
// ---------------------------------


// Section: new-addition

h3 {
    font-size: 2.6rem;
    letter-spacing: 1px;
}

.new-addition {
    background: $secondary;
}

// .new-addition img {
//     width: 510px;
// }

.new-addition-calc {
    width: calc(100% / 2);
}

.new-addition-img {
    // width: 45%;
    margin-right: 150px;
}

.fish-details-box {
    // width: 45%;
    // margin-left: 50px;
    padding: 40px 0px;
    // margin: 40px 0;
    padding-left: 60px;
    margin-right: 80px;
}

.clown-fish-img {
    // margin-left: 190px;
    margin-left: 100px;
}

.clown-fish-details {
    padding: 68px 0px;
    padding-right: 100px;
    // padding-left: 50px;
    // margin-right: 60px;
    margin-left: 80px;
    // margin-right: 160px;
    text-align: right;
}

.new-addition button {
    background: $primary;
}

.fish-box-1,
.fish-box-2 {
    display: flex;
    flex-flow: row nowrap;
}

.fish-box-1 p {
    // text-align: left;
}

.fish-box-2 p {
    // text-align: right;
}


// .fish-box-1 .fish-box-details {
//     padding: 45px 0;
//     margin-right: 80px;
//     margin-left: 170px;
// }

// .fish-box-2 .fish-box-details {
//     padding: 40px 0;
//     margin-left: 80px;
//     margin-right: 170px;
// }

.new-addition button {
    border: 1px solid $primary;
}

.new-addition button:hover,
.new-addition button:focus {
    border: 1px solid $secondary;
    color: $shadow;
    cursor: pointer;
}

.new-addition button:hover a,
.new-addition button:focus a {
    color: $shadow;  
}

.fish-box-1 img {
    box-shadow: 35px 35px #86E0F9;
    // margin-right: 20px;
    position: relative;
    top: -35px;
}

.fish-box-2 img {
    box-shadow: -35px 35px #86E0F9;
    // margin-left: 20px;
    position: relative;
    bottom: -35px;
}


