

@import "setup";
@import "variable";
@import "header";


html {
  font-size: 62.5%;
}

body {
  font-family: $bodyFont;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $fontColor;
  text-transform: uppercase;
}

img {
  display: block;
  width: 100%;
}

p {
  padding: 15px 0;
  text-align: justify;
  line-height: 25px;
  color: $fontColor;
  font-size: 1.5rem;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: $fontColor;
  font-family: $baseFont;
  text-transform: uppercase;
}

// MAIN starts here:

// Section: about

.about {
  background-color: $primary;
}

.home-box-image img {
  width: 700px;
  height: 490px;
}

.home-box-image {
  position: absolute;
  top: 125px;
  right: 0;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: $shadow;
  font-family: $baseFont;
  letter-spacing: 1px;
  font-size: 1.6rem;
  border: 1px solid #86E0F9;
}

button:hover,
button:focus {
    border: 1px solid $primary;
    cursor: pointer;
}

.about-details {
  text-align: center;
  padding: 160px 100px;
}

.about-details a {
  color: $primary;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
}
// ---------------------------------


// Section: new-addition

h3 {
    font-size: 2.6rem;
    letter-spacing: 1px;
}

.new-addition {
    background-color: $secondary;
}

.new-addition img {
    height: 340px;
}

.fish-box-1,
.fish-box-2 {
    display: flex;
    flex-flow: row nowrap;
}

.fish-box-1 {
    margin-bottom: 40px;
}

.new-addition-calc {
    width: calc(100% / 2);
}

.new-addition-img {
    margin-right: 110px;
}

.fish-details-box {
    padding: 40px 0px;
    padding-left: 60px;
    margin-right: 80px;
}

.clown-fish-img {
    margin-left: 50px;
}

.clown-fish-details {
    padding: 45px 0px;
    padding-right: 100px;
    margin-left: 80px;
    text-align: right;
}

.new-addition button {
    background: $primary;
}

.fish-box-1 p {
    text-align: left;
}

.fish-box-2 p {
    text-align: right;
}

.new-addition button {
    border: 1px solid $primary;
}

.new-addition button:hover,
.new-addition button:focus {
    border: 1px solid $secondary;
    color: $shadow;
    cursor: pointer;
}

.new-addition button:hover a,
.new-addition button:focus a {
    color: rgb(255, 254, 220); 
}

.fish-box-1 img {
    box-shadow: 35px 35px $shadow;
    position: relative;
    top: -35px; 
}

.fish-box-2 img {
    box-shadow: -35px 35px $shadow;
    position: relative;
    bottom: -35px; 
}


// -------------------------------------


// Section: contact

h4 {
    font-size: 2.6rem;
    letter-spacing: 1px;
}

.contact {
    background-color: $primary;
}

.contact-container {
    display: flex;
}

.contact-flex {
    padding: 100px 0 50px;
}

.location,
.blog {
    margin-right: 50px;
}

.contact-container div:nth-of-type(1) {
    margin-bottom: 40px;
}

.location h4::before,
.community h4::before,
.blog h4::before,
.get-in-touch h4::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    border-radius: 50%;
    background-color: $shadow;
    color: $primary;
    font-size: 2.3rem;
    padding: 8px;
    position: relative;
    margin-right: 12px;
}


.location h4::before {
    content: "\f124";
}

.community h4::before {
    content: '\f0c0';
}

.blog h4::before {
    content: '\f15b';
    padding: 8px 11px;
}

.get-in-touch h4::before {
    content: '\f095'
}

.contact p {
    padding-left: 55px;
}

h4:hover,
h4:focus {
    box-shadow: 2px 2px 4px 1px $shadow;
}

// -----------------------------------

// Section: month-profile

h5 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.month-profile {
    background-color: $primary;
}

.month-profile-flex {
    padding: 100px 0 80px;

    display: flex;
}

.month-profile button a {
    color: $primary;
}

.month-profile-flex img {
    width: 250px;
    box-shadow: 30px 30px $shadow;
    margin-right: 70px;
}

.month-profile-flex p {
    padding: 15px 0 25px;
}

// ------------------------------

// Section: gallery

.gallery {
    background-color: $secondary;
    padding: 70px;
    display: flex;
    flex-wrap: nowrap;
}

.gallery div:nth-of-type(2) {
    margin: 0 30px;
}

// --------------------------------

// Section: footer

footer {
    background-color: $shadow;
}

footer p {
    color: $primary;
    text-align: center;
    padding: 10px;
}

// --------------------------------

// Importing media

@import "media-query";