@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.homepage-header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.674)), to(rgba(18, 8, 8, 0.236))), url(../../assets/header-image.jpg);
  background-image: linear-gradient(rgba(11, 1, 1, 0.674), rgba(18, 8, 8, 0.236)), url(../../assets/header-image.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.home-ul,
.contact-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Barlow", sans-serif;
}

.contact-ul {
  margin-top: 0;
}

.home-ul li,
.contact-ul li {
  padding: 15px 25px 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.home-ul a:hover,
.home-ul a:focus,
.contact-ul a:hover,
.contact-ul a:focus {
  color: #86e0f9;
}

h1 {
  font-size: 8rem;
  color: #fff;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  line-height: 75px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-page-header {
  background-image: url(../../assets/contact-header.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.contact-banner-text h1 {
  font-size: 5.5rem;
  color: #fff;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
}

.contact-page-section {
  background-color: #0c1423;
}

.social-links ul {
  margin-top: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-links ul li {
  padding: 0 10px;
}
.social-links ul :nth-of-type(1) {
  padding-left: 0;
}

.social-links i {
  font-size: 1.6rem;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.social-links i:hover,
.social-links i:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

address {
  font-style: normal;
}

address p:nth-of-type(1) {
  padding: 15px 0;
  font-size: 1.8rem;
  font-weight: bold;
}

address p {
  padding: 3px;
  font-size: 1.4rem;
  line-height: 17px;
}

.contact-page-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 100px 0;
}

.contact-page-details-box {
  margin-right: 35px;
  width: 30%;
}

.form-area {
  width: 70%;
  background-color: #0f614e;
  padding: 60px;
  height: 450px;
  -webkit-box-shadow: -35px 35px #86e0f9;
          box-shadow: -35px 35px #86e0f9;
  position: absolute;
  top: -200px;
  right: 0;
}

.name-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name,
.email {
  width: 48%;
  margin-bottom: 40px;
}

.name {
  margin-right: 25px;
}

.message {
  margin-bottom: 40px;
}

input,
textarea {
  padding: 15px 20px;
  background-color: #0f614e;
  color: #fff;
  font-size: 1.4rem;
}

input {
  border: none;
  width: 100%;
  border-bottom: 2px solid #86e0f9;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border: 2px solid #86e0f9;
}

.form-area button {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  background-color: #0c1423;
  border: none;
  font-size: 1.3rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

img {
  display: block;
  width: 100%;
}

p {
  padding: 15px 0;
  line-height: 25px;
  color: #fff;
  font-size: 1.5rem;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
}

.about {
  background-color: #0c1423;
}

.home-box-image img {
  width: 700px;
  height: 490px;
}

.home-box-image {
  position: absolute;
  top: 125px;
  right: 0;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #86e0f9;
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
  font-size: 1.6rem;
  border: 1px solid #86E0F9;
}

button:hover,
button:focus {
  border: 1px solid #0c1423;
  cursor: pointer;
}

.about-details {
  text-align: center;
  padding: 160px 100px;
}

.about-details a {
  color: #0c1423;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 2.6rem;
  letter-spacing: 1px;
}

.new-addition {
  background-color: #0f614e;
}

.new-addition img {
  height: 340px;
}

.fish-box-1,
.fish-box-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.fish-box-1 {
  margin-bottom: 40px;
}

.new-addition-calc {
  width: calc(100% / 2);
}

.new-addition-img {
  margin-right: 110px;
}

.fish-details-box {
  padding: 40px 0px;
  padding-left: 60px;
  margin-right: 80px;
}

.clown-fish-img {
  margin-left: 50px;
}

.clown-fish-details {
  padding: 45px 0px;
  padding-right: 100px;
  margin-left: 80px;
  text-align: right;
}

.new-addition button {
  background: #0c1423;
}

.fish-box-1 p {
  text-align: left;
}

.fish-box-2 p {
  text-align: right;
}

.new-addition button {
  border: 1px solid #0c1423;
}

.new-addition button:hover,
.new-addition button:focus {
  border: 1px solid #0f614e;
  color: #86e0f9;
  cursor: pointer;
}

.new-addition button:hover a,
.new-addition button:focus a {
  color: #fffedc;
}

.fish-box-1 img {
  -webkit-box-shadow: 35px 35px #86e0f9;
          box-shadow: 35px 35px #86e0f9;
  position: relative;
  top: -35px;
}

.fish-box-2 img {
  -webkit-box-shadow: -35px 35px #86e0f9;
          box-shadow: -35px 35px #86e0f9;
  position: relative;
  bottom: -35px;
}

h4 {
  font-size: 2.6rem;
  letter-spacing: 1px;
}

.contact {
  background-color: #0c1423;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-flex {
  padding: 100px 0 50px;
}

.location,
.blog {
  margin-right: 50px;
}

.contact-container div:nth-of-type(1) {
  margin-bottom: 40px;
}

.location h4::before,
.community h4::before,
.blog h4::before,
.get-in-touch h4::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  border-radius: 50%;
  background-color: #86e0f9;
  color: #0c1423;
  font-size: 2.3rem;
  padding: 8px;
  position: relative;
  margin-right: 12px;
}

.location h4::before {
  content: "";
}

.community h4::before {
  content: "";
}

.blog h4::before {
  content: "";
  padding: 8px 11px;
}

.get-in-touch h4::before {
  content: "";
}

.contact p {
  padding-left: 55px;
}

h4:hover,
h4:focus {
  -webkit-box-shadow: 2px 2px 4px 1px #86e0f9;
          box-shadow: 2px 2px 4px 1px #86e0f9;
}

h5 {
  font-size: 3rem;
  letter-spacing: 1px;
}

.month-profile {
  background-color: #0c1423;
}

.month-profile-flex {
  padding: 100px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.month-profile button a {
  color: #0c1423;
}

.month-profile-flex img {
  width: 250px;
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
  margin-right: 70px;
}

.month-profile-flex p {
  padding: 15px 0 25px;
}

.gallery {
  background-color: #0f614e;
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.gallery div:nth-of-type(2) {
  margin: 0 30px;
}

footer {
  background-color: #86e0f9;
}

footer p {
  color: #0c1423;
  text-align: center;
  padding: 10px;
}

@media (max-width: 955px) {
  .home-box-image img {
    width: 550px;
  }

  .home-ul li {
    padding: 15px 18px 0;
  }

  .new-addition-img {
    margin-right: 70px;
  }

  .clown-fish-img {
    margin-left: 20px;
  }

  .fish-box-1 img {
    -webkit-box-shadow: 28px 28px #86e0f9;
            box-shadow: 28px 28px #86e0f9;
  }

  .fish-box-2 img {
    -webkit-box-shadow: -28px 28px #86e0f9;
            box-shadow: -28px 28px #86e0f9;
  }

  .month-profile-flex p {
    padding: 15px 0 18px;
  }

  .month-profile-flex img {
    width: 300px;
    margin-right: 70px;
  }
}
@media (max-width: 882px) {
  .homepage-header {
    height: 70vh;
  }

  h1 {
    font-size: 7rem;
  }

  .home-box-image img {
    width: 520px;
    height: 420px;
  }

  .home-ul li {
    padding: 15px 15px 0;
  }

  .about-details {
    text-align: center;
    padding: 120px 70px 140px;
  }

  .fish-box-1 {
    margin-bottom: 0px;
  }

  .new-addition img {
    height: 250px;
  }

  .new-addition-img {
    margin-right: 70px;
  }

  .fish-details-box {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-right: 40px;
  }

  .clown-fish-img {
    margin-left: 85px;
  }

  .clown-fish-details {
    padding-top: 40px;
    padding-right: 5px;
    margin-left: 40px;
  }

  .fish-box-2 img {
    bottom: -65px;
  }

  .month-profile-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 80px 0;
    text-align: center;
  }

  .month-profile-flex div:nth-of-type(1) {
    padding-bottom: 70px;
  }

  .month-profile-flex img {
    width: 350px;
    margin-right: 0;
  }
}
@media (max-width: 790px) {
  .homepage-header {
    height: 65vh;
  }

  p {
    padding: 13px 0;
    line-height: 23px;
    color: #fff;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 6.3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3,
h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 2.4rem;
  }

  button {
    padding: 5px 14px;
    letter-spacing: 1px;
    font-size: 1.3rem;
    border: 1px solid #86e0f9;
  }

  .about-details {
    padding: 130px 40px;
  }

  .home-box-image img {
    width: 450px;
    height: 400px;
  }

  .home-ul li {
    padding: 15px 10px 0;
  }

  .new-addition-img {
    margin-right: 30px;
  }

  .fish-details-box {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-right: 10px;
  }

  .clown-fish-img {
    margin-left: 0px;
  }

  .clown-fish-details {
    padding-top: 50px;
    padding-right: 55px;
    margin-left: 10px;
  }

  .fish-box-1 img {
    -webkit-box-shadow: 10px 15px 30px 1px #86e0f9;
            box-shadow: 10px 15px 30px 1px #86e0f9;
    top: 0;
  }

  .fish-box-2 img {
    -webkit-box-shadow: -10px -15px 30px 1px #86e0f9;
            box-shadow: -10px -15px 30px 1px #86e0f9;
    bottom: -36px;
  }

  .contact-flex {
    padding: 60px 0px;
  }

  .contact-container div:nth-of-type(1) {
    margin-bottom: 30px;
  }

  .location h3::before,
.community h3::before,
.blog h3::before,
.get-in-touch h3::before {
    font-size: 1.7rem;
  }

  .contact p {
    padding-left: 45px;
  }

  .gallery div:nth-of-type(2) {
    margin: 0 20px;
  }
}
@media (max-width: 718px) {
  .fish-box-2 img {
    -webkit-box-shadow: -10px -15px 30px 1px #86e0f9;
            box-shadow: -10px -15px 30px 1px #86e0f9;
  }

  .clown-fish-img {
    margin-left: 25px;
  }

  .clown-fish-details {
    padding-top: 50px;
    padding-right: 20px;
    margin-left: 10px;
  }

  .gallery {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .gallery div:nth-of-type(2) {
    margin: 20px 0px;
  }
}
@media (max-width: 676px) {
  .homepage-header {
    height: 55vh;
  }

  .home-ul {
    display: none;
  }

  .banner-text {
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 40px;
  }

  h1 {
    font-size: 5rem;
    line-height: 50px;
  }

  .home-box-image img {
    width: 400px;
    height: 300px;
  }

  .home-ul li {
    font-size: 1rem;
  }

  .about-details {
    padding: 90px 30px;
  }

  .fish-box-1,
.fish-box-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fish-box-1 p {
    text-align: unset;
  }

  .fish-box-2 p {
    text-align: unset;
  }

  .new-addition-calc {
    width: 100%;
  }

  .fish-details-box {
    padding: 60px 60px 30px;
    margin: 0;
    text-align: center;
  }

  .clown-fish-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    margin: 0;
  }

  .clown-fish-details {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 90px 60px 65px;
    margin: 0;
    text-align: center;
  }

  .fish-box-1 img {
    -webkit-box-shadow: 0px 10px 25px 1px #86e0f9;
            box-shadow: 0px 10px 25px 1px #86e0f9;
  }

  .fish-box-2 img {
    -webkit-box-shadow: 0px 10px 25px 1px #86e0f9;
            box-shadow: 0px 10px 25px 1px #86e0f9;
    bottom: -36px;
  }
}
@media (max-width: 550px) {
  .home-box-image img {
    width: 330px;
  }

  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .location,
.blog {
    margin-right: 0px;
  }

  .contact p {
    padding-left: 50px;
  }

  .month-profile-flex img {
    width: 100%;
    -webkit-box-shadow: 5px 10px 5px 1px #86e0f9;
            box-shadow: 5px 10px 5px 1px #86e0f9;
  }
}
@media (max-width: 450px) {
  .homepage-header {
    height: 50vh;
  }

  .home-box-image img {
    width: 270px;
    height: 250px;
  }

  h1 {
    font-size: 4rem;
  }
}
@media (max-width: 370px) {
  .homepage-header {
    height: 40vh;
  }

  .home-box-image img {
    width: 230px;
    height: 220px;
  }

  .home-box-image {
    position: absolute;
    top: 100px;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 40px;
  }
}
@media (max-width: 300px) {
  .home-box-image img {
    width: 170px;
    height: 220px;
  }
}
@media (max-width: 1050px) {
  .contact-banner-text h1 {
    text-align: end;
  }
}
@media (max-width: 955px) {
  .contact-ul li {
    padding: 15px 18px;
  }

  .contact-banner-text h1 {
    text-align: center;
  }

  .contact-page-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .contact-page-details-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-right: 0;
    margin-top: 300px;
  }

  .form-area {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0px 0px;
            box-shadow: 0px 0px;
    padding: 40px 60px;
    height: 350px;
  }

  textarea {
    height: 130px;
  }
}
@media (max-width: 645px) {
  .name-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .name,
.email,
.message {
    width: 100%;
    margin: 0 0 20px;
  }

  input,
textarea {
    padding: 10px 15px;
    background-color: #0f614e;
    color: #fff;
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .contact-page-header {
    height: 45vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .form-area {
    padding: 35px;
  }
}
@media (max-width: 400px) {
  .contact-ul li {
    padding: 15px 12px;
    font-size: 1.1rem;
  }

  .contact-banner-text h1 {
    padding-top: 50px;
    line-height: 55px;
  }
}